/*HEADER*/
.Logo {
    width: 200px;
    height: 100px;
}
header {
    border-bottom: 1px solid black;
}
.fondoCeleste {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.fuentes {
    font-size: 2rem;
    padding-left: 2rem;
    text-transform: uppercase;
}
.container-fluid {
    background-color: grey;
    margin-top: auto;
}

.Titulo {
    text-align: center;
    padding: auto;
    border: 0;
    font: bold;
    margin-bottom: 5;
}
