/*HEADER*/
.Logo {
    width: 200px;
    height: 100px;
}
header {
    border-bottom: 1px solid black;
}
.fondoCeleste {
    background-color: skyblue;
}
.fuentes {
    font-size: 2rem;
    padding-left: 2rem;
    text-transform: uppercase;
}
.container-fluid {
    background-color: grey;
}
/*FOOTER*/
